@mixin iconRotate {
  .fa {
    opacity:0.7;
    transform:rotate(0deg);
  }
}

@mixin makeIconRotate {
  + .button {
    @include iconRotate;
  }
}

.search-box {
  position:relative;
  width:100%;
  border-radius:$border-radius-sm;
  margin-bottom:15px;

  input,
  .button {
    vertical-align:top;
    margin-bottom:0;
  }

  input[type="text"] {
    padding-right:30px;
    width:100%;
    @include transitionQuickest;
  }

  .button {
    width:auto;
    position:absolute;
    top:0;
    right:0;
    z-index:2;
    background:none;
    &:focus {
      border-color:$blue-dark-1;
    }
    @media(min-width:$bp-md) {
      &:hover {
        @include iconRotate;
      }
    }
  }
  .fa {
    color:$black;
    transform:rotate(90deg);
    @include transitionQuickest;
    opacity:0.4;
  }

  input[type="text"] {
    &:focus {
      @include makeIconRotate;
    }
    @media(min-width:$bp-md) {
      &:hover {
        @include makeIconRotate;
      }
    }
  }
}