.search-box {
  position:relative;
  width:100%;
  margin:7px 0;
  border-radius:$border-radius-sm;

  input,
  button {
    vertical-align:top;
    margin:0;
    &:focus {
      outline:solid 2px $blue-light-1;
    }
  }

  input[type="text"] {
    padding-right:30px;
    border:solid 2px $white-2;
    width:100%;
    transition:all 0.2s ease;
  }

  button {
    width:auto;
    position:absolute;
    top:0;
    right:0;
    z-index:2;
    background:none;
  }
  .fa {
    color:$black;
    transform:rotate(90deg);
    transition:all 0.2s ease;
    opacity:0.4;
  }

  input[type="text"]:focus {
    + button .fa {
      opacity:0.7;
      transform:rotate(0deg);
    }
  }
}