.stat {
  float:left;
  padding:0 12px 6px 0;
  @media(min-width:$bp-md) {
    padding:0 6px;
    text-align:center;
  }
  h6,
  p {
    margin:0;
    float:left;
    font-size:$font-size-paragraph;
    @media(min-width:$bp-md) {
      float:none;
    }
  }
  h6 {
    font-weight:normal;
    @media(min-width:$bp-md) {
      font-size:$font-size-x-small;
    }
  }
  p {
    margin-right:5px;
    font-weight:bold;
    @media(min-width:$bp-md) {
      margin-right:0;
      font:{
        size:15px;
        weight:normal;
      }
    }
  }
}