.tweet {
  clear:both;
  position:relative;

  .tweets &  {
    @media (min-width:$bp-md) {
      @include transitionQuick;
      background:rgba(255, 255, 255, 0.9);
      &:hover {
        background:rgba(255, 255, 255, 1);
        border-bottom-color:$blue-dark-1;
        border-bottom-right-radius:2em;
      }
    }
  }

  &.retweeted {
    border-bottom-color:$green-dark-1;
  }

  .retweet-notice {
    color:$grey-1;
    .fa {
      padding:5px;
      margin-right:5px;
      border-radius:$border-radius-sm;
      background:$green-dark-1;
      color:rgba(255, 255, 255, 0.9);
    }
    span {
      display:inline-block;
      vertical-align:baseline;
      margin-right:5px;
    }
  }

  .img-wrap {
    max-height:350px;
    overflow:hidden;
  }

  .tweet-copy,
  .img-wrap {
    margin-bottom:15px;
  }

  .tweet-copy small {
    font-weight:normal;
    font-size:12px;
  }

  .tweet-id {
    margin-bottom:0;
    small {
      font-size:11px;
    }
  }

  .actions {
    i {
      font-size:1.3em;
      &.active {
        color:$green-dark-1;
      }
      &.fa-remove {
        color:$red-1;
      }
    }
    button {
      width:auto;
      display:inline-block;
      vertical-align:middle;
      padding:10px;
      margin-bottom:0;
      background:transparent;
    }
  }

}
