.tweet {
  clear:both;
  display:inline-block;
  vertical-align:top;
  width:100%;
  position:relative;
  .panel {
    display:inline-block;
    vertical-align:top;
    width:100%;
    padding:{
      top:$spacing-xs;
      bottom:0;
    }
  }

  a {
    font-weight:normal;
    color:$blue-light-2;
    &:hover,
    &:focus {
      color:$blue-dark-1;
      text-decoration:none;
    }
    @media (min-width:$bp-md) {
      @include transitionQuick;
    }
  }

  .tweets &  {
    .panel {
      @media (min-width:$bp-md) {
        @include transitionQuick;
        background:rgba(255, 255, 255, 0.9);
        &:hover {
          background:rgba(255, 255, 255, 1);
          border-bottom-color:$blue-dark-1;
          border-bottom-right-radius:6px;
          border-bottom-left-radius:6px;
        }
      }
    }
  }
  .tweet-single & {
    .view-more {
      display:none;
    }
  }

  &.retweeted {
    border-bottom-color:$green-dark-1;
  }

  .col-left {
    float:left;
    color:$blue-light-2;
    i {
      float:left;
      margin:{
        top:3px;
        right:5px;
      }
    }
  }

  .retweet-notice {
    margin-bottom:3px;
    color:$green-light-1;
    .fa {
      margin-top:6px;
      color:$green-light-1;
    }
    span {
      display:inline-block;
      vertical-align:baseline;
      margin-right:5px;
    }
  }

  .timestamp {
    float:right;
    color:$blue-light-1;
    margin-top:6px;
    font:{
      size:0.7em;
      style:italic;
    }
  }

  .img-wrap {
    max-height:350px;
    overflow:hidden;
    img {
      opacity:0.95;
      @media(min-width:$bp-md) {
        @include transitionQuick;
        &:hover {
          opacity:1;
        }
      }
    }
  }

  .tweet-copy,
  .img-wrap {
    margin-bottom:$spacing-sm;
  }

  .tweet-copy small {
    font-weight:normal;
    font-size:12px;
  }

  .tweet-id {
    margin-bottom:0;
    small {
      font-size:11px;
    }
  }

  .row-bottom {
    min-height:43px;
    color:$blue-light-2;
    p {
      margin-bottom:0;
    }

    .button {
      width:auto;
      display:inline-block;
      vertical-align:middle;
      padding:$spacing-xs $spacing-xs / 2;
      background:transparent;
      color:$blue-light-2;
      margin-top:0;
    }
    i {
      font-size:1.3em;
      &.fa-remove {
        color:$red-1;
      }
    }

    .tweet-action {
      @media (min-width:$bp-md) {
        @include transitionQuick;
      }
    }

    .tweet-favourite,
    .tweet-retweet {
      margin-right:5px;
      button {
        @media (min-width:$bp-md) {
          @include transitionQuick;
          &:hover,
          &:focus {
            transform:rotate(360deg);
          }
        }
      }
    }

    .tweet-favourite {
      i.active {
        color:$orange-1;
      }
      button {
        @media (min-width:$bp-md) {
          &:hover,
          &:focus {
            i { color:$orange-1; }
          }
        }
      }
    }
    .tweet-retweet {
      i.active {
        color:$green-light-1;
      }
      button {
        @media (min-width:$bp-md) {
          &:hover,
          &:focus {
            i { color:$green-light-1; }
          }
        }
      }
    }

    .tweet-delete {
      @media (min-width:$bp-md) {
        &:hover,
        &:focus {
          i { color:$red-1; }
        }
      }
    }

  }

  .actions {
    float:left;
    small {
      display:none;
      @media (min-width:$bp-sm) {
        display:inline-block;
        vertical-align:middle;
        margin-top:-2px;
      }
    }
  }

  .view-more {
    float:right;
    p,
    button {
      vertical-align:middle;
    }
    p {
      display:inline-block;
      margin-top:7px;
    }

    button {
      color:$blue-light-1;
      padding-top:0;
    }
  }

  .tweet-favourite .button {
    padding-left:0;
  }

  .button.tweet-delete {
    padding-right:0;
    padding:{
      top:10px;
      right:0;
      bottom:0;
    }
  }

}
