.compose-tweet {
  display:inline-block;
  vertical-align:top;
  width:100%;

  h5,
  h5 + char-counter {
    float:left;
  }

  h5 {
    @media (min-width:$bp-sm) {
      float:none;
    }
    + char-counter {
      float:right;
      @media (min-width:$bp-sm) {
        display:none;
      }
    }
  }

  .textarea-wrap {
    font-size:14px;
  }

  textarea {
    min-height:100px;
    font-size:100%;
    vertical-align:top;
    overflow:auto;

    @media (min-width:$bp-xs) {
      min-height:40px;
      box-sizing:initial;
      width:96%;
    }
  }

  .add-image {
    width:100%;
    padding:0;
    @media (min-width:$bp-sm) {
      width:50%;
      input {
        margin-bottom:0;
      }
    }
  }

  char-counter,
  input[type="submit"] {
    display:inline-block;
    vertical-align:middle;
  }

  .submit-wrap {
    width:100%;
    text-align:right;
    padding-left:0;
    @media (min-width:$bp-sm) {
      float:right;
      width:25%;
      padding-left:15px;
    }
    char-counter {
      display:none;
      @media (min-width:$bp-sm) {
        display:inline-block;
        padding:0 5px 0 0;
      }
    }
  }

}
