.compose-tweet {
  display:inline-block;
  vertical-align:top;
  width:100%;
  .add-image-copy {
    float:left;
  }
  .char-counter {
    float:right;
  }
  input[type="submit"] {
    @media (min-width:$bp-md) {
      width:auto;
    }
  }
}
