body.ngdialog-open {
  overflow:visible;
}

.ngdialog-overlay {
  background:rgba(0,0,0,.6);
}

.ngdialog-content {
  z-index:5;
  position:relative;
  max-width:90%;
  margin:5% auto;
  padding:15px;
  background:$white-2;
  border-radius:$border-radius-sm;
  box-shadow:0 22px 60px $blue-dark-2;
  @media (min-width:$bp-sm) {
    max-width:600px;
  }
}