form {
  font-size:14px;
}

label,
input,
textarea {
  font-size:100%;
}

label {
  display:inline-block;
  width:100%;
  font-weight:bold;
  padding:0 0 5px 0;
  @media (min-width:$bp-md) {
    padding:0 10px 5px 10px;
  }
}


input,
textarea,
button,
.button {
  font-family:'Noto Sans', sans-serif;
  width:100%;
  margin-bottom:$form-elm-margin-bottom;
  font-weight:normal;
  border:0 none;
  border-radius:$border-radius-sm;
  text-decoration:none;
  -webkit-appearance:none;
}

input,
textarea {
  padding:10px;
}

button,
.button {
  border:0 none;
  display:block;
  padding:10px 20px;
  font-size:14px;
  @include transitionQuick;
  @media (min-width:$bp-sm) {
    width:auto;
    display:inline-block;
    vertical-align:middle;
  }
  &:disabled {
    opacity:0.5;
  }
}

button,
.button,
input[type="submit"] {
  margin:0;
  cursor:pointer;
  
  &.blue {
    //background:#3498D4;
    background:$blue-dark-1;
    color:#FFF;
  }
}

a,
button,
input,
textarea {
  &:focus {
    outline:solid 2px $blue-dark-1;
  }
}

textarea {
  max-width:100%;
  resize:none;
}