form {
  font-size:14px;
}

label,
input,
textarea {
  font-size:100%;
}

label {
  display:inline-block;
  width:100%;
  font-weight:bold;
  padding:0 0 5px 0;
  @media (min-width:$bp-md) {
    padding:0 10px 5px 10px;
  }
}

a,
button,
.button,
input,
textarea {
  border:solid 2px transparent;
  &:focus {
    outline:0 none;
    border:solid 2px $blue-dark-1;
  }
}

input,
textarea,
button,
.button {
  font-family:'Noto Sans', sans-serif;
  width:100%;
  margin-bottom:$form-elm-margin-bottom;
  font-weight:normal;
  border-radius:$border-radius-sm;
  text-decoration:none;
  -webkit-appearance:none;
}

input,
textarea {
  padding:10px;
  border-color:$grey-2;
}

.button {
  @include transitionQuick;
  display:block;
  padding:10px 20px;
  font-size:14px;
  text-align:center;
  &:focus {
    border-color:$blue-dark-2;
  }
  @media (min-width:$bp-sm) {
    width:auto;
    display:inline-block;
    vertical-align:middle;
  }
  &:disabled {
    opacity:0.5;
  }
  &.button-small {
    font-size:12px;
  }
  + .button {
    margin-top:15px;
    @media (min-width:$bp-sm) {
      margin-top:0;
    }
  }
}

.button,
input[type="submit"] {
  margin:0;
  cursor:pointer;
  color:$white-full;
  
  &.blue {
    background:$blue-dark-1;
  }
  &.red {
    background:$red-1;
  }
  &.grey {
    background:$grey-1;
  }
}

input[disabled] {
  cursor:not-allowed;
}

textarea {
  max-width:100%;
  resize:none;
}