header {
  display:inline-block;
  vertical-align:top;
  background:$white-full;
  border-bottom:solid 3px $blue-light-2;
  box-shadow:0 12px 42px $blue-light-2;
  position:fixed;
  z-index:3;
  top:0;
  left:0;
  @media (min-width:$bp-sm) {
    border-bottom-width:5px;
  }

  ul {
    margin-bottom:0;
  }

  li,
  li a {
    font-size:12px;
    color:$blue-light-1;
    @media (min-width:$bp-xs) {
      font-size:13px;
    }
    @media (min-width:$bp-md) {
      color:$blue-dark-1;
    }
  }

  li {
    display:inline-block;
    vertical-align:middle;
    a {
      padding:8px $spacing-xs;
      display:block;
      @media (min-width:$bp-sm) {
        padding:$spacing-xs - 1px $spacing-xs;
      }
    }
  }

  a {
    font-weight:normal;
    &:hover,
    &:focus {
      text-decoration:none;
    }
  }

  .col-right {
    float:right;
    text-align:right;
    margin:5.5px $spacing-xs;
    @media (min-width:$bp-sm) {
      margin:10.5px 20px;
    }
  }

}

@import '../elements/header-logo';
@import '../elements/header-dropdown-menu';
@import '../elements/header-compose-tweet';

