header {
  display:inline-block;
  vertical-align:top;
  background:#FFF;
  border-bottom:solid 3px $blue-light-2;
  box-shadow:0 12px 42px $blue-light-2;
  position:fixed;
  z-index:2;
  top:0;
  left:0;
  @media (min-width:$bp-sm) {
    border-bottom-width:5px;
  }

  ul {
    margin-bottom:0;
  }

  li {
    display:inline-block;
    vertical-align:middle;
    a {
      padding:13px 10px;
      display:block;
      color:$blue-dark-1;
      @media (min-width:$bp-sm) {
        padding:16px 10px;
      }
    }
    &:first-child a {
      padding:10px;
    }
  }

  input {
    margin:7px 0;
  }

  input[type="text"] {
    border:solid 1px #999;
    width:65%;
    margin-right:5px;
  }

}

.logo {
  float:left;
  margin:0;
  font:{
    weight:normal;
    size:19px;
  }
  @media (min-width:$bp-sm) {
    font-size:26px;
  }
  a {
    display:inline-block;
    padding:10px 15px;
    color:#333;
    font-weight:normal;
    text-decoration:none;
    @media (min-width:$bp-md) {
      transition:all 0.3s ease;
      &:hover,
      &:focus {
        background:$blue-dark-1;
        color:$white-full;
      }
    }
  }

}


.compose-tweet {
  background-color:$blue-dark-1;
  color:$white-full;
  font-size:20px;
  padding:5px 4px 5px 7px;
  margin:-2px 0 0 0;
}