header {
  display:inline-block;
  vertical-align:top;
  background:#FFF;
  border-bottom:solid 3px $blue-light-2;
  position:fixed;
  z-index:2;
  top:0;
  left:0;
  @media (min-width:$bp-sm) {
    border-bottom-width:5px;
  }

  li {
    display:inline-block;
    vertical-align:middle;
    a {
      padding:13px 10px;
      display:block;
      @media (min-width:$bp-sm) {
        padding:16px 10px;
      }
    }
    &:first-child a {
      padding:10px;
    }
  }
}

.logo {
  float:left;
  margin:0;
  font-size:19px;
  @media (min-width:$bp-sm) {
    font-size:26px;
  }
}

.logo a {
  display:inline-block;
  padding:10px 15px;
  color:#333;
}
