.col-25,
.col-30,
.col-40,
.col-50,
.col-70,
.col-75 {
  @media(min-width:$bp-md) {
    float:left;
    min-height:1px;
  }
  &.col-xs {
    float:left;
    min-height:1px;
  }
}

.col-25 {
  @media(min-width:$bp-md) {
    width:25%;
    padding-left:15px;
  }
  &.col-xs {
    width:25%;
    padding-left:15px;
  }
}

.col-30 {
  @media(min-width:$bp-md) {
    width:30%;
    padding-left:15px;
  }
  &.col-xs {
    width:30%;
    padding-left:15px;
  }
}

.col-40 {
  @media(min-width:$bp-md) {
    width:40%;
  }
  &.col-xs {
    width:40%;
  }
}



.col-50 {
  @media(min-width:$bp-md) {
    width:50%;
    padding-right:15px;
  }
  &.col-xs {
    width:50%;
    padding-left:15px;
  }
}

.col-70 {
  @media(min-width:$bp-md) {
    width:70%;
    padding-right:15px;
  }
  &.col-xs {
    width:70%;
    padding-left:15px;
  }
}

.col-75 {
  @media(min-width:$bp-md) {
    width:75%;
    padding-right:15px;
  }
  &.col-xs {
    width:75%;
    padding-left:15px;
  }
}

.col-xs {
  float:left;
}