body {
  color:#333;
  margin:0;
  padding:0;
  background:$blue-light-1;
  font:{
    family:$font-family-default;
    size:$font-size-base;
  }
}

.row {
  clear:both;
  width:100%;
}

.wrapper-max-width {
  max-width:800px;
  margin:0 auto;
}

.main-wrapper {
  padding:10px;
  margin-top:70px;
  z-index:1;
  @media (min-width:$bp-sm) {
    padding:20px;
    margin-top:80px;
  }
  @media (min-width:$bp-md) {
    margin-top:100px;
  }
}