body {
  font-family:'Noto Sans', sans-serif;
  color:#333;
  margin:0;
  padding:0;
  background:$blue-light-1;
}

.row {
  clear:both;
  width:100%;
}

.wrapper-max-width {
  max-width:800px;
  margin:0 auto;
}

.main-wrapper {
  padding:0 20px;
  margin-top:80px;
  z-index:1;
  @media (min-width:$bp-sm) {
    margin-top:100px;
  }
  @media (min-width:$bp-md) {
    margin-top:120px;
  }
}