.col-25,
.col-30,
.col-60,
.col-70 {
  @media(min-width:$bp-md) {
    float:left;
    min-height:1px;
  }
}

.col-60 {
  @media(min-width:$bp-md) {
    width:50%;
    padding-right:15px;
  }

}
.col-70 {
  @media(min-width:$bp-md) {
    width:25%;
    padding-right:15px;
  }
}

.col-70 {
  @media(min-width:$bp-md) {
    width:70%;
    padding-right:15px;
  }
}

.col-30 {
  @media(min-width:$bp-md) {
    width:30%;
    padding-left:15px;
  }
}
