.panel {
  background:$white-1;
  margin-bottom:$spacing-md;
  padding:$spacing-sm;
  border-radius:$border-radius-md;
  border-bottom:solid 6px $blue-light-2;

  ul,
  ol,
  dl {
    margin-left:$spacing-sm;
  }
}