.panel {
  background:$white-1;
  margin-bottom:20px;
  padding:0.9em;
  border-radius:$border-radius-md;
  border-bottom:solid 6px $blue-light-2;

  ul,
  ol,
  dl {
    margin-left:15px;
  }

}

.panel-notice p:last-child {
  margin-bottom:0;
}