<h3>Timeline</h3>

<br/>
<p>Post something</p>
<form>
  <input type="text" ng-model="tweet.content" style="padding:10px;width:300px;font-size:14px;" />
  <input type="submit" value="Submit post" ng-click="postTweet(tweet)" />
</form>

<br/>
<br/>

<div ng-hide="tweets">
  <img src="img/svg/gears.svg" alt="loading" style="width:50px;display:block;margin:0 auto 20px auto;"/>
</div>


<div ng-repeat="tweet in tweets track by $index" style="border:solid 1px #CCC;border-left-width:6px;margin-bottom:20px;padding:10px;">
  <h4>{{tweet.name}}</h4>
  <p><small>{{tweet._id}}</small></p>
</div>