<div ng-controller="ComposeTweetCtrl" class="row compose-tweet">
  <form name="composeTweetForm" ng-submit="postTweet(tweet)">
    <div class="col-70">
      <input type="text" 
             name="copy"
             placeholder="My tweet"
             ng-model="tweet.copy" 
             maxlength="140" />
      <div class="add-image">
        <p class="add-image-copy" ng-click="addImage = !addImage">add image</p>
        <char-counter input-elm="tweet.copy.length" max-length="140"></char-counter>
        <input ng-show="addImage"
               type="url" 
               name="imageUrl"
               placeholder="Image URL"
               ng-model="tweet.image.url" />
      </div>
    </div>
    <div class="col-30">
      <input type="submit" 
             value="Tweet"
             class="button blue"
             ng-disabled="postTweetForm.$invalid || !tweet.copy.length" />
    </div>
  </form>
</div>