body {
  font-family:sans-serif;
  color:#333;
}

a {
  text-decoration:none;
  color:#333;
}

a:hover,
a:focus {
  text-decoration:underline;
}

.wrapper {
  margin:0 auto;
  max-width:800px;
  padding:20px;
}

header {

}

header li {
  display:inline-block;
  vertical-align:middle;
}

header li a {
  padding:10px 20px;
}


ul,
ol,
dl {
  margin:0;
  padding:0;
}

h4 {
  margin:0;
}