<div class="home-welcome">
  <div class="wrapper-max-width box" ng-controller="LoginCtrl">

    <div class="col-60 col-left">

      <div class="row panel">
        <form ng-submit="submit()">
          <input type="text" name="user" ng-model="user" placeholder="bill@test.com" ng-disabled="loading" autofocus/>
          <br>
          <input type="password" name="pass" ng-model="pass" placeholder="password" ng-disabled="loading" />
          <br>
          <button type="submit" class="blue" ng-disabled="loading">log in</button>
        </form>
      </div>

      <p ng-show="message.text"><small>{{message.text}}</small></p>
      <p><small><span ng-click="doGoogleAuthWithPopup()">log in with google</span> or <span ng-click="loginOrSignup()">signup</span></small></p>

    </div>
    <div class="col-30 col-right" style="float:right">
      <p>test usernames</p>
      <ul>
        <li>test1@test.com</li>
        <li>test2@test.com</li>
        <li>bill@test.com</li>
        <li>ben@test.com</li>
      </ul>
    </div>

  </div>
  <img src="img/home-bg.jpg" />
</div>