<div class="timeline">
  
  <div class="col-70">
    <h3>Timeline</h3>
    <ng-include src="'views/partials/tweets.html'"></ng-include>
  </div>

  <div class="col-30 col-right">
    <h3>Search</h3>
    <div class="search-box" ng-controller="SearchBoxCtrl">
      <form>
        <input type="text" 
               ng-model="search.query"
               placeholder="javascript" />
        <button ng-click="doQuery(search.query);"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>

</div>