@import '_colors';
@import '_breakpoints';

$spacing-xs:10px;
$spacing-sm:15px;
$spacing-md:20px;

$border-radius-sm:7px;
$border-radius-md:12px;

$font-size-base:16px;
$font-size-h1:32px;
$font-size-h5:$font-size-base;
$font-size-paragraph:$font-size-base - 2px;
$font-size-small:.9em;
$font-size-x-small:.8em;

$font-family-default:'Noto Sans', sans-serif;