$black:#333;
$white-full:#FFF;
$white-1:rgba(255,255,255,.9);
$white-2:#F1F1F1;

$grey-1:#AAA;
$grey-2:#E8E8E8;

$blue-light-1:#C4CFE1;
$blue-light-2:#B8C5D9;

$blue-dark-1:#718BB6;
$blue-dark-2:#151B26;

$green-light-1:#B5CA8D;

$green-dark-1:#9CB9A2;

$red-1:#B67171;

$orange-1:#E9C555;

$bp-xs:500px;
$bp-sm:600px;
$bp-md:768px;
$bp-lg:1000px;
$bp-xlg:$bp-lg + 200px;


$form-elm-margin-bottom:20px;

$border-radius-sm:7px;
$border-radius-md:12px;

$font-size-base:16px;
$font-size-paragraph:$font-size-base - 2px;
$font-size-small:.9em;
$font-size-x-small:.8em;

$font-family-default:'Noto Sans', sans-serif;