@mixin createCol($width) {
  @media(min-width:$bp-md) {
    float:left;
    width:$width;
    min-height:1px;
  }
  &.col-xs {
    float:left;
    min-height:1px;
  }
}
@mixin transitionQuickest {
  transition:all 0.2s ease;
}

@mixin transitionQuick {
  transition:all 0.3s ease;
}

