.landing {
  position:absolute;
  top:0;
  left:0;
  display:inline-block;
  vertical-align:top;
  width:100%;
  height:100%;
  background:#1D110F;
  overflow:hidden;
  img {
    position:absolute;
    max-width:initial;
    z-index:1;
    top:-28%;
    left:-25%;
    transition:all .5s ease;
    @media (max-width:$bp-xs + 50px) and (min-height:$bp-sm + 30px) {
      top:-23%;
    }
    @media (max-width:$bp-xs + 50px) and (min-height:$bp-sm + 50px) {
      top:-17%;
    }
    @media (min-width:$bp-xs) {
      top:-19%;
      @media (min-height:951px) {
        top:-21%;
      }
    }
    @media (min-width:$bp-sm) {
      top:-15%;
    }
    @media (min-width:$bp-md) {
      top:-5%;
      left:-15%;
    }
    @media (min-width:$bp-lg) {
      left:0;
    }
    @media (min-width:$bp-xlg) {
      width:100%;
      max-width:100%;
    }
  }

  .box {
    z-index:2;
    position:relative;
    margin:20% auto;
    padding:$spacing-xs;
    @media (min-width:$bp-md) {
      margin:15% auto;
    }
  }

  .fake-link {
    margin-left:$spacing-sm;
  }

}