.profile-public {

  .col-left {
    .panel {
      @media(min-width:$bp-md) {
        border-top-right-radius:0;
        border-right:solid 6px $blue-light-2;
      }
    }
  }

  .profile-details-left {
    .fa {
      margin-right:5px; 
    }
    h3,
    p {
      margin-bottom:5px;
    }
  }
  
  .profile-details-right {
    display:inline-block;
    vertical-align:top;
    @media(min-width:$bp-md) {
      margin-bottom:40px;
      border-top-right-radius:$border-radius-md;
      border-bottom-right-radius:$border-radius-md;
      border-top-left-radius:0;
      border-bottom-left-radius:0;
    }

  }

  .stat {
    padding:0px 6px;
    @media(min-width:$bp-md) {
      text-align:center;
    }
    h6,
    p {
      margin:0;
    }
    h6 {
      font:{
        size:13px;
        weight:normal;
      }
    }
  }

  .tweets {
    @media(min-width:$bp-md) {
      padding:0 0 0 40px;
    }
  }

}