.profile-edit {

  .panel {
    display:inline-block;
    vertical-align:top;
    width:100%;
  }
  textarea {
    margin-bottom:0;
  }
  char-counter {
    float:right;
  }
  input[type="submit"] {
    clear:both;
    float:right;
    margin-top:$spacing-sm;
  }

  .spinner {
    clear:both;
    padding-top:17px;
    @media(min-width:$bp-sm) {
      clear:none;
      float:right;
      padding-top:23px;
    }
  }

}