<header class="row">
  <div class="wrapper-max-width">
    <h1 class="logo"><a ui-sref="home">{{appName}}</a></h1>
    <ul class="col-right">
      <li ng-if="auth.profile" ng-click="showMenu = !showMenu" class="dropdown-menu-wrap">
        @{{auth.profile.nickname}}<i class="fa fa-user"></i>
        <ul ng-show="showMenu" class="dropdown-menu">
          <li><a ui-sref="profilePublic({username: auth.profile.nickname})">View profile</a></li>
          <li><a ui-sref="profileEdit">Edit profile</a></li>
          <li><a ui-sref="logout">Log out</a></li>
        </ul>
      </li>
      <li ng-if="auth.profile">
        <button class="compose-tweet" ng-click="composeTweet()"><i class="fa fa-pencil-square-o"></i></button>
      </li>
    </ul>
  </div>
</header>