<header class="row">
  <div class="wrapper-max-width">
    <h1 class="logo"><a ui-sref="home">{{appName}}</a></h1>
    <ul style="float:right;text-align:right;">
      <li ng-if="auth.profile"><a ui-sref="logout"><i class="fa fa-sign-out"></i></a></li>
      <li ng-if="auth.profile"><a ui-sref="profilePublic({username: auth.profile.nickname})"><strong>@{{auth.profile.nickname}}</strong></a></li>
      <!--
      <li ng-if="auth.profile"><a ui-sref="profilePublic({username: auth.profile.nickname})"><i class="fa fa-user"></i></a></li>
      -->
      <li ng-if="auth.profile">
        <button class="compose-tweet" ng-click="composeTweet()"><i class="fa fa-pencil-square-o"></i></button>
      </li>
    </ul>
  </div>
</header>