<div class="panel">
  <div class="row row-top">

    <div class="col-left">

      <p ng-show="tweet.followingRetweeted" class="retweet-notice">
        <small><i class="fa fa-refresh"></i>Retweeted by 
          <span ng-repeat="retweeter in tweet.retweetedUsernames">{{retweeter.username}}</span>
        </small>
      </p>

      <p><a ui-sref="profilePublic({username: tweet.username})">
          <i class="fa fa-user"></i>
          <small>@{{tweet.username}}</small>
      </a></p>
    </div>
    <small class="timestamp" am-time-ago="tweet.timestamp"></small>
  </div>

  <div class="row">
    <p class="tweet-copy">{{tweet.copy}}</p>
    <div ng-if="tweet.image.url" class="img-wrap">
      <img ng-src="{{tweet.image.url}}" alt="{{tweet.image.url}}" />
    </div>
  </div>

  <div class="row row-bottom">
    <div ng-if="auth.isAuthenticated" class="actions">
      <ng-include src="'views/partials/tweet-favourite.html'"></ng-include>
      <ng-include src="'views/partials/tweet-retweet.html'"></ng-include>
    </div>

    <div class="view-more" ng-hide="singleTweet">
      <p><a ui-sref="tweetSingle({tweetId: tweet._id})"><small>view more</small></a></p>
      <button class="button tweet-action tweet-delete"
              ng-if="usersOwnProfile"
              ng-click="deleteTweetDialog(tweet._id)">
              <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>