<div class="row tweets" ng-controller="TweetsCtrl">

  <div ng-if="userNoFollowings" class="panel panel-notice align-center">
    <p>You're not following anyone right now. <br/><br/>:(</p>
  </div>

  <div ng-if="userNotTweeted" class="panel panel-notice align-center">
    <p>{{profileUsername}} hasn't tweeted yet. <br/><br/> :(</p>
  </div>

  <div ng-repeat="tweet in tweets.slice().reverse() | filter: timestamp" 
       class="panel tweet"
       ng-class="{retweeted : tweet.followingRetweeted}">

    <p ng-show="tweet.followingRetweeted" class="retweet-notice">
      <small><i class="fa fa-refresh"></i>Retweeted by 
        <span ng-repeat="retweeter in tweet.retweetedUsernames">{{retweeter.username}}</span>
      </small>
    </p>

    <h4 class="tweet-copy">{{tweet.copy}} &nbsp;<small><i>{{tweet.timestamp | amCalendar}}</i></small> </h4>
    <p><a ui-sref="profilePublic({username: tweet.username})">@{{tweet.username}}</a></p>

    <div ng-if="tweet.image.url" class="img-wrap">
      <img ng-src="{{tweet.image.url}}" alt="{{tweet.image.url}}" />
    </div>

    <!--
    <p ng-if="tweet.favourites.length"><small>favourites <br/>{{tweet.favourites.length}}</small></p>
    <p ng-if="tweet.retweets.length"><small>retweets <br/>{{tweet.retweets.length}}</small></p>
    -->

    <p><a ui-sref="tweetSingle({tweetId: tweet._id})"><small>view more</small></a></p>

    <div ng-if="auth.isAuthenticated" class="actions">

      <ng-include src="'views/partials/tweet-favourite.html'"></ng-include>

      <ng-include src="'views/partials/tweet-retweet.html'"></ng-include>

      <button ng-if="usersOwnProfile"
              ng-click="deleteTweetDialog(tweet._id)">
              <i class="fa fa-trash"></i>
      </button>
    </div>

  </div>

</div>