<div class="row tweets" ng-controller="TweetsCtrl">

  <div ng-if="userNoFollowings" class="panel align-center">
    <p>You're not following anyone right now. <br/><br/>:(</p>
  </div>

  <div ng-if="userNotTweeted" class="panel align-center">
    <p>{{profileUsername}} hasn't tweeted yet. <br/><br/> :(</p>
  </div>


  <div ng-repeat="tweet in tweets.slice().reverse() | filter: timestamp" 
       class="panel tweet">
    <h4 class="tweet-copy">{{tweet.copy}} &nbsp;<small><i>{{tweet.timestamp | amCalendar}}</i></small> </h4>
    <p><a ui-sref="profilePublic({username: tweet.username})">@{{tweet.username}}</a></p>
    <div ng-if="tweet.image.url" class="img-wrap">
      <img ng-src="{{tweet.image.url}}" alt="{{tweet.image.url}}" />
    </div>
    <p><a ui-sref="tweetSingle({tweetId: tweet._id})"><small>view more</small></a></p>

    <div ng-if="auth.isAuthenticated" class="social">
      <div class="dev-info"  ng-show="tweet.alreadyFavourited">
        <p ng-show="tweet.alreadyFavourited">already favourited</p>
        <p ng-repeat="tweet in tweet.favourites">
          <small>{{tweet.username}}</small>
        </p>
      </div>
      <button ng-click="favouriteTweet(tweet._id);newFavouriteTweet = true" 
              ng-hide="newFavouriteTweet || tweet.alreadyFavourited">
              <i class="fa fa-star"></i>
      </button>
      <button ng-click="unFavouriteTweet(tweet._id, tweet.usersFavId);newFavouriteTweet = false; tweet.alreadyFavourited = false" 
              ng-show="newFavouriteTweet || tweet.alreadyFavourited">
              <i class="fa fa-star active"></i>
      </button>
      <button ng-click="doStuff()">
        <i class="fa fa-refresh"></i>
      </button>
    </div>
  </div>

</div>