<div class="row tweets" ng-controller="TweetsCtrl">

  <div ng-if="userNoFollowings" class="panel panel-notice">
    <p>You're not following anyone right now. <br/><br/>:(</p>
  </div>

  <div ng-if="userNotTweeted" class="panel panel-notice">
    <p>{{profileUsername}} hasn't tweeted yet. <br/><br/> :(</p>
  </div>

  <div ng-repeat="tweet in tweets.slice().reverse() | filter: timestamp"
       class="panel tweet"
       ng-class="{retweeted : tweet.followingRetweeted}">

    <ng-include src="'views/partials/tweet-single.html'"></ng-include>

  </div>

</div>