<h3>Edit profile</h3>

<div>
  <img ng-src="{{auth.profile.picture}}" alt="{{auth.profile.email}}" />

  <br/>

  <p><strong>Nickname: </strong>{{auth.profile.nickname}}</p>

  <p><strong>Email: </strong>{{auth.profile.email}}</p>

  <p ng-if="!auth.profile.email_verified">Your email has not been verified. <br/>Please check your email and verify your address to fully benefit from Mean Example.</p>

  <br/>
  <div class="form-wrap">
    <form name="profileDetailsForm" ng-submit="updateProfileDetails(profileDetails)">
      <input type="text" name="profileDetails.websiteUrl" ng-model="websiteUrl" placeholder="Website URL" />
      <input type="text" name="profileDetails.location" ng-model="location" placeholder="Location" />
      <textarea name="about" ng-model="about" placeholder="Short description"></textarea>
      <input type="submit" 
             value="Save" 
             ng-disabled="profileDetailsForm.$invalid" />
    </form>
  </div>

</div>