<div class="profile-public">
  <div ng-show="userNotFound" class="col-50">
    <div class="panel">
      <p>Sorry, {{profileUsername}} doesn't exist. :(</p>
      <p class="no-margin"><a ui-sref="home">start again</a></p>
    </div>
  </div>

  <div ng-show="!userNotFound" class="row">

    <div class="col-30 col-left">

      <div class="panel placeholder-box profile-details-left">
        <h3>{{profileUsername}}</h3>
        <p ng-if="!profileUserDetails.about && !profileUserDetails.location && !profileUserDetails.websiteUrl" class="no-margin"><small>Apparently, {{profileUsername}} prefers to keep an air of mystery about them.</small></p>
        <p ng-if="profileUserDetails.about">{{profileUserDetails.about}}</p>
        <p ng-if="profileUserDetails.location"><i class="fa fa-map-marker"></i><small>{{profileUserDetails.location}}</small></p>
        <p ng-if="profileUserDetails.websiteUrl"><a ng-href="{{profileUserDetails.websiteUrl}}" target="_blank"><i class="fa fa-link"></i><small>{{profileUserDetails.websiteUrl}}</small></a></p>
      </div>

    </div>

    <div class="col-70 col-right">

      <div class="row panel profile-details-right">

        <div class="col-70">
          <div class="col-25 stat" ng-if="tweetsCount">
            <p>{{tweetsCount}}</p>
            <h6>tweets</h6>
          </div>
          <div class="col-25 stat">
            <p>{{profileUser.followers.length}}</p>
            <h6>followers</h6>
          </div>
          <div class="col-25 stat">
            <p>{{profileUser.following.length}}</p>
            <h6>following</h6>
            <p ng-if="!profileUser.following.length">0</p>
          </div>
          <div ng-if="profileUser.favourites.length" class="col-25 stat">
            <p>{{profileUser.favourites.length}}</p>
            <h6>favourites</h6>
          </div>
        </div>

        <div class="col-30 col-right">
          <div ng-if="auth.isAuthenticated">
            <ng-include src="'views/partials/follow-user.html'"></ng-include>
          </div>
          <a ng-if="usersOwnProfile" 
             ui-sref="profileEdit"
             class="button blue button-small">Edit my profile</a>
        </div>

      </div>

      <ng-include src="'views/partials/tweets.html'"></ng-include>

      <div ng-if="!loadingTweets && errorMessage" class="panel">
        <p class="no-margin"><strong>{{errorMessage}}</strong></p>
      </div>

    </div>

  </div>
</div>