<div class="profile-public">
  <div ng-show="userNotFound" class="col-70 no-float-margin-auto">
    <div class="panel panel-notice align-center">
      <p>Sorry, {{profileUsername}} doesn't exist. <br/><br/> :(</p>
    </div>
  </div>

  <div ng-show="!userNotFound" class="row">

    <div class="col-30 col-left">

      <div class="panel placeholder-box profile-details">
        <h3>{{profileUsername}}</h3>
        <p>{{profileUserDetails.about}}</p>
        <p><small><i class="fa fa-map-marker"></i>{{profileUserDetails.location}}</small></p>
        <p><small><a ng-href="{{profileUserDetails.websiteUrl}}" target="_blank"><i class="fa fa-link"></i>{{profileUserDetails.websiteUrl}}</a></small></p>
      </div>

    </div>

    <div class="col-70 col-right">

      <div class="row">

        <div class="col-70">

          <div class="col-25 stat">
            <h6>tweets</h6>
            <p ng-if="tweets.length">{{tweets.length}}</p>
            <p ng-if="!tweets.length">0</p>
          </div>
          <div class="col-25 stat">
            <h6>followers</h6>
            <p>{{profileUser.followers.length}}</p>
          </div>
          <div class="col-25 stat">
            <h6>following</h6>
            <p>{{profileUser.following.length}}</p>
            <p ng-if="!profileUser.following.length">0</p>
          </div>
          <div ng-if="profileUser.favourites.length" <div class="col-25 stat">
            <h6>favourites</h6>
            <p>{{profileUser.favourites.length}}</p>
          </div>

        </div>

        <div class="col-30 align-right">
          <ng-include src="'views/partials/follow-user.html'"></ng-include>
          <a ng-if="usersOwnProfile" 
             ui-sref="profileEdit"
             class="button blue">Edit my profile</a>
        </div>
      </div>


      <ng-include src="'views/partials/tweets.html'"></ng-include>

      <div ng-if="!loadingTweets && errorMessage" class="panel align-center">
        <p><strong>{{errorMessage}}</strong></p>
      </div>

    </div>

  </div>
</div>