<div class="row">
  <h3 ng-if="profileUsername">{{profileUsername}}</h3>

  <button ng-hide="usersOwnProfile || loggedInUserFollows" 
          ng-click="followUser(loggedInUser, profileUsername)"
          class="blue">Follow @{{profileUsername}}</button>

  <a ng-if="usersOwnProfile" 
     ui-sref="profileEdit"
     class="button blue">Edit my profile</a>

</div>


<div class="row">

  <div class="col-70">

    <ng-include src="'views/partials/tweets.html'"></ng-include>

    <div ng-if="!loadingTweets && !tweets.length" class="panel align-center">
      <p>{{profileUsername}} hasn't tweeted anything yet.</p>
    </div>

  </div>

  <div class="col-30">
    <div class="panel placeholder-box">
      <h5>followers</h5>
      <p>{{user.followers.length}}</p>
      <ul>
        <li ng-repeat="user in user.followers">{{user.username}}</li>
      </ul>
    </div>
    <div class="panel placeholder-box">
      <h5>following</h5>
      <p>{{user.following.length}}</p>
      <ul>
        <li ng-repeat="user in user.following">{{user.username}}</li>
      </ul>
    </div>
    <div class="panel placeholder-box">
      <h5>favourite tweets</h5>
      <p>{{user.favourites.length}}</p>
    </div>
    <div class="panel placeholder-box">
      <h5>tweets</h5>
      <p>{{tweets.length}}</p>
    </div>
  </div>

</div>