<div class="row form-wrap">
  <form ng-submit="submit()">
    <input type="text" name="user" ng-model="user" placeholder="example@test.com" ng-disabled="loading" autofocus/>
    <br>
    <input type="password" name="pass" ng-model="pass" placeholder="password" ng-disabled="loading" />
    <br>
    <button type="submit" ng-disabled="loading">submit</button>
  </form>

  <p ng-show="message.text">{{message.text}}</p>

  <!-- <a href="" ng-click="reset()">Reset</a> -->
  <a href="" ng-click="doGoogleAuthWithPopup()">Login with Google</a><br/>

</div>