<h3 ng-if="username">{{username}}</h3>

<button ng-hide="usersOwnProfile" 
        ng-click="followUser(profileUsername, username)"
        class="blue">Follow @{{username}}</button>

<br/>

<div class="tweets">
    <div ng-repeat="tweet in tweets.slice().reverse()" 
         class="tweet">
      <h4 class="tweet-content">{{tweet.name}} &nbsp;<small><i>{{tweet.timestamp | amCalendar}}</i></small> </h4>
      <p>@{{tweet.username}}</p>
      <p>#<small>{{tweet._id | limitTo:10}}</small></p>
    </div>
  </div>