<div class="row">
  <h3 ng-if="profileUsername">{{profileUsername}}</h3>

  <button ng-hide="usersOwnProfile || loggedInUserFollows" 
        ng-click="followUser(loggedInUser, profileUsername)"
        class="blue">Follow @{{profileUsername}}</button>

</div>

<div class="row">

  <div class="col-70">

    <ng-include src="'views/partials/tweets.html'"></ng-include>

    <div class="row tweets" ng-if="!tweets.length">
      <p>{{profileUsername}} hasn't tweeted anything yet.</p>
    </div>

  </div>

  <div class="col-30">
    <h3>followers</h3>
    <p>{{user.followers.length}}</p>
    <br/>
    <ul>
      <li ng-repeat="user in user.followers">{{user.username}}</li>
    </ul>

    <br/>
    <br/>

    <h3>following</h3>
    <p>{{user.following.length}}</p>
    <br/>
    <ul>
      <li ng-repeat="user in user.following">{{user.username}}</li>
    </ul>

    <br/>
    <br/>

    <h3>tweets</h3>
    <p>{{tweets.length}}</p>
  </div>


</div>

