<h3 ng-if="profileUsername">{{profileUsername}}</h3>

<button ng-hide="usersOwnProfile || loggedInUserFollows" 
        ng-click="followUser(loggedInUser, profileUsername)"
        class="blue">Follow @{{profileUsername}}</button>

<br/>


<div class="col-70 tweets" ng-if="tweets.length">
  <div ng-repeat="tweet in tweets.slice().reverse()" 
       class="tweet">
    <h4 class="tweet-copy">{{tweet.copy}} &nbsp;<small><i>{{tweet.timestamp | amCalendar}}</i></small> </h4>
    <div ng-if="tweet.imageUrl" class="img-wrap">
      <img ng-src="{{tweet.imageUrl}}" alt="{{tweet.imageUrl}}" />
    </div>
    <p>@{{tweet.username}}</p>
    <p>#<small>{{tweet._id | limitTo:10}}</small></p>
  </div>
</div>

<div class="col-70 tweets" ng-if="!tweets.length">
  <p>{{profileUsername}} hasn't tweeted anything yet.</p>
</div>

<div class="col-30">

  <h3>followers</h3>
  <p>{{user.followers.length}}</p>
  <br/>
  <ul>
    <li ng-repeat="user in user.followers">{{user.username}}</li>
  </ul>

  <br/>
  <br/>

  <h3>following</h3>
  <p>{{user.following.length}}</p>
  <br/>
  <ul>
    <li ng-repeat="user in user.following">{{user.username}}</li>
  </ul>

  <br/>
  <br/>

  <h3>tweets</h3>
  <p>{{tweets.length}}</p>


</div>
