<div class="row">

  <div class="col-70">

    <h3>Search</h3>

    <!--
    <div class="row form-wrap bg-grey">
      <input type="text" 
             ng-model="search.query"
             placeholder="Enter search criteria, eg #taken3"
             autofocus/>
      <button ng-click="getTweets(search.query)" 
              class="blue">Go</button>
    </div>
    -->


    <p ng-show="errorMessage">{{errorMessage}}</p>

    <!--<ng-include src="'views/partials/tweets.html'"></ng-include>-->

    <!-- 
    temporary using duplicate tweets HTML, 
    whilst we think/decide how to handle search tweets *with* or *without* TweetsCtrl
    -->


    <div ng-if="noSearchResults" class="panel single-text">
      <p>Nothing found with  &lsquo;{{searchQuery}}&rsquo;. <br/><br/>:(</p>
    </div>

    <div ng-if="!noSearchResults">
      <p><small>{{tweets.length}} tweets found with the query &lsquo;{{searchQuery}}&rsquo;.</small></p>
    </div>

    <div class="row tweets">

      <div ng-if="userNoFollowings" class="panel panel-notice">
        <p>You're not following anyone right now. <br/><br/>:(</p>
      </div>

      <div ng-if="userNotTweeted" class="panel panel-notice">
        <p>{{profileUsername}} hasn't tweeted yet. <br/><br/> :(</p>
      </div>


      <div ng-repeat="tweet in tweets.slice().reverse() | filter: timestamp"
          class="panel tweet"
           ng-class="{retweeted : tweet.followingRetweeted}">

        <div class="row row-top">

          <div class="col-left">

            <p ng-show="tweet.followingRetweeted" class="retweet-notice">
              <small><i class="fa fa-refresh"></i>Retweeted by 
                <span ng-repeat="retweeter in tweet.retweetedUsernames">{{retweeter.username}}</span>
              </small>
            </p>

            <p><a ui-sref="profilePublic({username: tweet.username})">
                <i class="fa fa-user"></i>
                <small>@{{tweet.username}}</small>
            </a></p>
          </div>
          <small class="timestamp"><i>{{tweet.timestamp | amCalendar}}</i></small>
        </div>

        <div class="row">
          <p class="tweet-copy">{{tweet.copy}}</p>
          <div ng-if="tweet.image.url" class="img-wrap">
            <img ng-src="{{tweet.image.url}}" alt="{{tweet.image.url}}" />
          </div>
        </div>

        <div class="row row-bottom">
          <div ng-if="auth.isAuthenticated" class="actions">
            <ng-include src="'views/partials/tweet-favourite.html'"></ng-include>
            <ng-include src="'views/partials/tweet-retweet.html'"></ng-include>
          </div>

          <div class="view-more">
            <p><a ui-sref="tweetSingle({tweetId: tweet._id})"><small>view more</small></a></p>
            <button ng-if="usersOwnProfile"
                    ng-click="deleteTweetDialog(tweet._id)">
                    <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>