<div class="row">

  <div class="col-70">

    <h3>Search</h3>

    <div class="search-box">
      <form>
        <input type="text" 
               ng-model="search.query"
               placeholder="javascript" />
        <button class="button" ng-click="doQuery(search.query);"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <div ng-show="noSearchResults">
      <p>Nothing found with  &lsquo;<strong>{{searchQuery}}</strong>&rsquo;. :(</p>
    </div>

    <div ng-show="tweets">
      <p><small>{{tweets.length}} tweets found with &lsquo;<strong>{{searchQuery}}</strong>&rsquo;.</small></p>
    </div>

    <div class="row tweets">

      <div ng-repeat="tweet in tweets.slice().reverse() | filter: timestamp"
          class="tweet">
           <ng-include src="'views/partials/tweet-single.html'"></ng-include>
      </div>
    </div>

  </div>
</div>