<div class="row">

  <div class="col-70">

    <h3>Search</h3>

    <div class="search-box">
      <form>
        <input type="text" 
               ng-model="search.query"
               placeholder="javascript" />
        <button class="button" ng-click="doQuery(search.query);"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <!--<ng-include src="'views/partials/tweets.html'"></ng-include>-->

    <!-- 
    temporary using duplicate tweets HTML, 
    whilst we think/decide how to handle search tweets *with* or *without* TweetsCtrl
    -->


    <div ng-show="noSearchResults">
      <p>Nothing found with  &lsquo;<strong>{{searchQuery}}</strong>&rsquo;. :(</p>
    </div>

    <div ng-show="tweets">
      <p><small>{{tweets.length}} tweets found with &lsquo;<strong>{{searchQuery}}</strong>&rsquo;.</small></p>
    </div>

    <div class="row tweets">

      <div ng-if="userNoFollowings" class="panel">
        <p class="no-margin">You're not following anyone right now. :(</p>
      </div>

      <div ng-if="userNotTweeted" class="panel">
        <p class="no-margin">{{profileUsername}} hasn't tweeted yet. :(</p>
      </div>


      <div ng-repeat="tweet in tweets.slice().reverse() | filter: timestamp"
          class="panel tweet"
           ng-class="{retweeted : tweet.followingRetweeted}">

        <div class="row row-top">

          <div class="col-left">

            <p ng-show="tweet.followingRetweeted" class="retweet-notice">
              <small><i class="fa fa-refresh"></i>Retweeted by 
                <span ng-repeat="retweeter in tweet.retweetedUsernames">{{retweeter.username}}</span>
              </small>
            </p>

            <p><a ui-sref="profilePublic({username: tweet.username})">
                <i class="fa fa-user"></i>
                <small>@{{tweet.username}}</small>
            </a></p>
          </div>
          <small class="timestamp" am-time-ago="tweet.timestamp"></small>
        </div>

        <div class="row">
          <p class="tweet-copy">{{tweet.copy}}</p>
          <div ng-if="tweet.image.url" class="img-wrap">
            <img ng-src="{{tweet.image.url}}" alt="{{tweet.image.url}}" />
          </div>
        </div>

        <div class="row row-bottom">
          <div ng-if="auth.isAuthenticated" class="actions">
            <ng-include src="'views/partials/tweet-favourite.html'"></ng-include>
            <ng-include src="'views/partials/tweet-retweet.html'"></ng-include>
          </div>

          <div class="view-more">
            <p><a ui-sref="tweetSingle({tweetId: tweet._id})"><small>view more</small></a></p>
            <button ng-if="usersOwnProfile"
                    ng-click="deleteTweetDialog(tweet._id)">
                    <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>