* {
  box-sizing:border-box;
}

::-moz-selection {
  background:$blue-dark-1;
  color:$white-full;
  text-shadow:none;
}
::selection {
  background:$blue-dark-1;
  color:$white-full;
  text-shadow:none;
}

img {
  display:block;
  max-width:100%;
}

.no-margin {
  margin:0;
}

.fake-link {
  cursor:pointer;
  &:hover,
  &:focus {
    text-decoration:underline;
  }
}

.short-message h3 {
  font-size:$font-size-h1 - 7px;
  margin-bottom:$spacing-sm;
}

.inline-message {
  background:$red-1;
  color:$white-full;
  padding:5px $spacing-xs;
  margin:{
    top:$spacing-sm;
    bottom:0;
  }
  text-align:center;
  border-radius:$border-radius-sm;
  @media(min-width:$bp-sm){
    display:inline-block;
    vertical-align:baseline;
    margin:{
      top:0;
      left:5px;
    }

  }

}