* {
  box-sizing:border-box;
}

::-moz-selection {
  background:$blue-dark-1;
  color:$white-full;
  text-shadow:none;
}
::selection {
  background:$blue-dark-1;
  color:$white-full;
  text-shadow:none;
}

img {
  display:block;
  max-width:100%;
}

.no-float-margin-auto {
  float:none;
  margin:0 auto;
}

.no-margin {
  margin:0;
}

.fake-link {
  cursor:pointer;
  &:hover,
  &:focus {
    text-decoration:underline;
  }
}

.short-message h3 {
  font-size:$font-size-h1 - 5px;
  margin-bottom:15px;
}