* {
  box-sizing:border-box;
}

img {
  display:block;
  max-width:100%;
}

.no-float-margin-auto {
  float:none;
  margin:0 auto;
}

.no-margin {
  margin:0;
}

.fake-link {
  cursor:pointer;
  &:hover,
  &:focus {
    text-decoration:underline;
  }
}