h1 {
  font-size:$font-size-h1;
  margin:0 0 15px 0;
} 

h3 {
  margin:0 0 15px 0;
  @media(min-width:$bp-sm) {
    margin-bottom:20px;
  }
  @media(min-width:$bp-md) {
    margin-bottom:30px;
  }
}

h4,
h5 {
  margin:0;
}

h5 {
  font-size:$font-size-h5;
  margin-bottom:15px;
}

p {
  margin:0 0 15px 0;
  font-size:$font-size-paragraph;
}

small {
  font-size:$font-size-small;
  &.xs {
    font-size:$font-size-x-small;
  }
}

a {
  text-decoration:none;
  font-weight:bold;
  color:#3498D4;
  &:hover,
  &:focus {
    text-decoration:underline;
  }
}

ul,
ol,
dl {
  margin:0 0 15px 0;
  padding:0;
}

.align-center {
  text-align:center;
}

.align-right {
  text-align:right;
}