body {
  font-family:sans-serif;
  color:#333;
  margin:0;
  padding:0;
}

a {
  text-decoration:none;
  font-weight:bold;
  color:#3498D4;
}

a:hover,
a:focus {
  text-decoration:underline;
}

.wrapper {
  margin:0 auto;
  max-width:800px;
  padding:0 20px;
}

header {
  float:left;
  width:100%;

  margin-bottom:60px;
}

.logo {
  float:left;
  margin-top:0;
  margin-left:-15px;
  font-size:26px;
}

.logo a {
  display:inline-block;
  padding:10px 15px;
  background:#D5E5FF;
  color:#333;
}

header li {
  display:inline-block;
  vertical-align:middle;
}

header li a {
  padding:10px 20px;
}

header li:first-child a {
  padding-left:0;
}


ul,
ol,
dl {
  margin:0;
  padding:0;
}

h4 {
  margin:0;
}




.tweets .tweet {
  clear:both;
  border:solid 1px #CCC;
  border-left-width:6px;
  margin-bottom:20px;
  padding:10px;
}

.tweets .tweet-content small {
  font-weight:normal;
  font-size:12px;
}

.tweets .tweet-content .tweet-id small {
  font-size:11px;
}

img {
  display:block;
  max-width:100%;
}

