* {
  box-sizing:border-box;
}

body {
  font-family:sans-serif;
  color:#333;
  margin:0;
  padding:0;
  background:rgba(67, 102, 159, 0.31);
}

.row {
  clear:both;
  width:100%;
}

p {
  margin:0 0 15px 0;
}

small {
  font-size:0.8em;
}

a {
  text-decoration:none;
  font-weight:bold;
  color:#3498D4;
}

a:hover,
a:focus {
  text-decoration:underline;
}

.wrapper {
  padding:0 20px;
}

.wrapper-max-width {
  max-width:800px;
  margin:0 auto;
}

header {
  display:inline-block;
  vertical-align:top;
  margin-bottom:60px;
  background:#FFF;
}

.logo {
  float:left;
  margin:0;
  font-size:19px;
  @media (min-width:600px) {
    font-size:26px;
  }
}

.logo a {
  display:inline-block;
  padding:10px 15px;
  //background:#D5E5FF;
  background:rgba(67, 102, 159, 0.35);
  color:#333;
}

header li {
  display:inline-block;
  vertical-align:middle;
}

header li a {
  padding:10px;
}

header li:first-child a {
  padding-left:0;
}


ul,
ol,
dl {
  margin:0;
  padding:0;
}

h3 {
  margin:0 0 10px 0;
}

h4,
h5 {
  margin:0;
}

h5 {
  font-size:1em;
}


.col-30,
.col-70 {
  @media(min-width:768px) {
    float:left;
  }
}

.col-70 {
  @media(min-width:768px) {
    width:70%;
    padding-right:15px;
  }
}

.col-30 {
  @media(min-width:768px) {
    width:30%;
    padding-left:15px;
  }
}

.tweet {
  clear:both;
  position:relative;
  margin-bottom:20px;
  padding:0.9em;
  background:#F5F5F5;
  border-radius:0.75em;
  border-bottom:solid 6px rgba(67, 102, 159, 0.35);

  @media (min-width:768px) {
    transition:all 0.3s ease;
    &:hover {
      border-bottom-color:rgba(67, 102, 159, 0.75);
      border-top-left-radius:2em;
      border-bottom-right-radius:2em;
    }
  }

  .dev-info {
    position:absolute;
    background:#DDD;
    color:#333;
    padding:10px;
    top:3%;
    right:-15%;
    font-size:0.8em;
    box-shadow:0 1px 3px #818181;
    p {
      margin:0;
    }
  }

  .img-wrap {
    max-height:350px;
    overflow:hidden;
  }

  .tweet-copy,
  .img-wrap {
    margin-bottom:15px;
  }

  .tweet-copy small {
    font-weight:normal;
    font-size:12px;
  }

  .tweet-id {
    margin-bottom:0;
    small {
      font-size:11px;
    }
  }

  .social {
    i {
      font-size:1.3em;
      &.active {
        color:#BADA55;
      }
    }
    button {
      width:auto;
      padding:10px;
      margin-bottom:0;
      background:transparent;
      outline:0 none;
    }
  }

}

/*
.tweets img {
  width:100%;
}
*/


img {
  display:block;
  max-width:100%;
}

.form-wrap {
  text-align:center;
  @media(min-width:768px) {
    width:50%;
    text-align:left;
  } 
  &.bg-grey {
    background:#EEE;
    padding:10px;
  }
}

button,
.button,
input,
textarea {
  width:100%;
  padding:10px;
  margin-bottom:20px;
  font:{
    size:13px;
    weight:normal;
  }
  text-decoration:none;
  -webkit-appearance:none;
}


button,
.button {
  border:0 none;
  display:block;
  @media (min-width:600px) {
    width:auto;
    display:inline-block;
    vertical-align:middle;
  }
}

input,
textarea {
  border:solid 2px #D0D0D0;
}

button,
.button,
input[type="submit"] {
  cursor:pointer;
  
  &.blue {
    background:#3498D4;
    color:#FFF;
  }
}

textarea {
  max-width:100%;
  min-height:100px;
  //resize:none; //enable for dev
}

.post-something {
  display:inline-block;
  vertical-align:top;
  width:100%;
  margin-bottom:40px;
  .add-image-copy {
    float:left;
  }
  .char-counter {
    float:right;
  }
  input[type="submit"] {
    @media (min-width:768px) {
      width:auto;
    }
  }
}



.page-home {
  //background:#1D110F;
  //overflow-x:hidden;
  .wrapper {
    //max-width:100%;
    //padding:0;
  }
}

.home-welcome {
  //position:relative;
  position:absolute;
  top:0;
  left:0;
  display:inline-block;
  vertical-align:top;
  width:100%;
  height:100%;
  background:#1D110F;
  overflow:hidden;
  img {
    position:absolute;
    max-width:initial;
    z-index:1;
    top:-25%;
    left:-25%;
    @media (min-width:768px) {
      top:0;
      left:-15%;
    }
    @media (min-width:1000px) {
      top:0;
      left:0;
    }
    @media (min-width:1200px) {
      width:100%;
      max-width:100%;
    }
  }
  .box {
    z-index:2;
    position:relative;
    margin:10% auto;
    padding:10px;
    text-align:center;
    color:#FFF;
    @media (min-width:600px) {
      width:550px;
    }
    @media (min-width:768px) {
      margin:15% auto;
    }
  }
  h3 {
    margin-bottom:15px;
    text-shadow:0 3px 10px #9A9A9A;
    font:{
      weight:normal;
      size:1.7em;
    }
    @media (min-width:600px) {
      font-size:2.7em;
    }
  }
  p {
    margin-bottom:0;
    color:#1D110F;
    font:{
      weight:bold;
      size:1em;
    }
    @media (min-width:600px) {
      font-size:1.2em;
    }
  }
  a {
    cursor:pointer;
    padding:0 0.2em;
    color:#1D110F;
  }

}



.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 0.8s infinite ease-in-out;
  animation: bouncedelay 0.8s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.7) }
  40% { -webkit-transform: scale(0.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  } 40% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
    
  }
}



.placeholder-box {
  padding:15px;
  min-height:100px;
  margin-bottom:30px;
  background:#F5F5F5;
}

