
@import 'modules/_config';
@import 'modules/_mixins';

@import '_typography';
@import '_misc';

@import 'blocks/_layout-rows';
@import 'blocks/_layout-cols';
@import 'blocks/_header';
@import 'blocks/_forms';
@import 'blocks/_panel';
@import 'blocks/_post-something';

@import 'elements/_loading-spinner';
@import 'elements/_tweet';

@import 'views/_home-welcome';
@import 'views/_profile-public';

.placeholder-box {
  min-height:100px;
}


body.ngdialog-open {
  overflow:visible;
}

.ngdialog-overlay {
  background:rgba(0,0,0,.6);
}

.ngdialog-content {
  z-index:5;
  position:relative;
  max-width:90%;
  margin:5% auto;
  padding:15px;
  border-radius:$border-radius-sm;
  box-shadow:0 22px 60px $blue-dark-2;
  @media (min-width:$bp-sm) {
    max-width:600px;
  }
}